.card {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px dashed;
}
.card-header {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
.card__list {
  @media only screen and (min-width: 300px) {
    max-width: 300px;
  }
  @media only screen and (min-width: 750px) {
    max-width: 400px;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 500px;
  }
  vertical-align: top;
  width: 100%;
}

// List item
.item {
  clear: both;
  padding: 10px 5px;
  margin: 3px 0;

  border: 1px solid transparent;

  &:hover{
    border: 1px solid gray;
  }
}

// header
.header{
  background-color:#b3b3b3;
}

.nav-item{
  a{
      color: white;
      text-decoration: none;
  }
  &:hover{
    background-color: #E6E6E6;
  }
  padding: 8px;
  display: inline-block;
}

